
@{
    ViewData["Title"] = "AuthenticateViaAPI";
}

<h2>Authenticate Via API</h2>

<p>This page will use jQuery to log in and call a protected resource.</p>

<p>Obviously in production, a framework would be used. This is just meant to be kept simple.</p>

<h3>Default User</h3>
<h4>Email: admin@test.com</h4>
<h4>Pass:  Pa$$word1</h4>

<label>
    email:
    <input id="email" type="text" />
</label>

<label>
    Password:
    <input id="password" type="password" />
</label>
<br />
<button class="btn btn-default" onclick="login()">Login</button>


<div style="height:25px">&nbsp;</div>


<button class="btn btn-default" onclick="callProtectedApi()">Access proected resource</button>


<div style="height:25px">&nbsp;</div>

<p id="response" class="text-danger"></p>



<script src="~/js/authenticateViaAPI.js"></script>