@{
    ViewData["Title"] = "Home Page";
}

<div style="margin-top:25px">&nbsp;</div>

<h2>Startup</h2>
<p>1. Visit this link to create the <a href="SeedAuth">Default Administrator</a></p>


<h2>Use</h2>
<p>There are 2 ways to log in</p>
<ol>
    <li>Cookie authentication: Use top left 'Login' button.</li>
    <li>Api Jwt authentication: Use the <a href="Home/AuthenticateViaApi">api page</a>.</li>
</ol>

<div style="margin-top:25px">&nbsp;</div>

<p>Both use asp.net identity. Both have a default user created.</p>

<h4>Email: admin@test.com</h4>
<h4>Pass:  Pa$$word1</h4>
