@{
    ViewData["Title"] = "Home Page";
}

<div style="margin-top:25px">&nbsp;</div>

<h2>To log in via the top left option, you will need to register a user first</h2>

<div style="margin-top:25px">&nbsp;</div>

<h2>You can then log in via the top right option (cookie), or via <a href="Home/AuthenticateViaApi">api page</a></h2>
